<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Joe Merrill">
    <meta name="description" content="A simple website blog">
    <title>{% block title %}Joe's Site{% endblock %}</title>

</head>
<body>
    <header>
        <h1>My Site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="http://espn.com">ESPN</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2024 Joe's Site
    </footer>



</html>